.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f8d5c2;
    font-family: Helvetica, sans-serif;
}


.manzanitas-logo {
    width: 60px; 
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* add spacing between logo and the title */
    vertical-align: middle; /* Align the logo with the text */
    border-radius: 50%; /* Gives a little rounded look */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1) /* For subtle shadow */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.navbar ul li {
    font-size: 1em;
    color: #333;
    transition: color 0.3s;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
}

.navbar ul li a:hover {
    color: #ff6f61;
}

.cart-icon {
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
}

.cart-icon a {
    text-decoration: none;
}